<footer id="footer.html" class="flex border-t-6 border-red-600 mt-6 p-3 px-6 bg-black text-white">
    <p class="text-xs md:text-sm">
      &copy; {{ now.Year }} <span class="hidden md:inline">Bob Rockefeller.</span> All Rights Reserved.
    </p>
    <p class="text-sm md:text-base ml-auto">
      <a href="https://github.com/bobrocke" title="Bob on GitHub"><i class="fa-brands fa-github"></i></a>
      &nbsp;
      <a href="https://stackoverflow.com/users/1938118/bob-rockefeller" title="Bob on Stack Overflow"><i class="fa-brands fa-stack-overflow"></i></a>
      &nbsp;
      <a href="https://www.flickr.com/photos/bobrocke/" title="Bob on Flickr"><i class="fa-brands fa-flickr"></i></a>
      &nbsp;
      <a href="https://500px.com/p/BobRockefeller?view=photos" title="Bob on 500px"><i class="fa-brands fa-500px"></i></a>
      &nbsp;
      <a href="https://www.facebook.com/bob.rockefeller/" title="Bob on Facebook"><i class="fa-brands fa-facebook"></i>
      </a>
    </p>
</footer>
